<div class="row">
    <div class="col-sm">
      <h2>*ngIf</h2>
      <div class="alert alert-primary" role="alert" *ngIf="mostrarMensaje">
        Variable mostrarMensaje con valor a true
      </div>
      <div class="alert alert-secondary" role="alert" *ngIf="!mostrarMensaje">
        Variable mostrarMensaje con valor a false
      </div>
      <button (click)="mostrarMensaje = !mostrarMensaje" type="button" class="btn btn-dark">Cambiar de Mensaje</button>
    </div>
    <div class="col-sm">
      <h2>*ngFor</h2>
      <div>
          <ul *ngFor="let materia of materias; first as isFirst" class="list-group">
              <li [ngClass]=" isFirst ? 'list-group-item active': 'list-group-item' "> {{ materia }} </li> <span></span>
          </ul>
      </div>
    </div>
    <div class="col-sm">
      <h2>*ngSwitch</h2>
      <container-element [ngSwitch]="contador % 2">
        <div class="card" *ngSwitchCase="0">
            <div class="card-body">
              Numero par {{ contador }}
            </div>
        </div>

        <div class="card" *ngSwitchCase="1">
            <div class="card-body">
              Numero impar {{ contador }}
            </div>
        </div>

        <button (click)="contador = contador + 1" type="button" class="btn btn-dark">Incrementar</button>
      </container-element>
    </div>
  </div>